h1{
    color: blue;
}

 body{
     background-color:azure;
 }

 .boxsize{
     min-height: 50px;
     min-width: 200px;
 }

 .submitbutton{
     position: relative;
     left: 200px;
     color: blue;
 }